<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>Information about me</title>
  <meta charset="utf-8">
  <meta name="description" content="Description of the necessary steps needed to get rid Tinea Versicolor for good.">
  <link rel="stylesheet" type="text/css" href="tv.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>About me</h1>
  </header>
  <section class="top-border section">
    <h2>Introduction</h2>
      <p><span>I am 21 years old and started getting TV (Tinea Versicolor) at around 16 years of age. I noticed I was getting spots around my chest and shoulder area, which then became patches. I had no clue why I was starting to get patches of all over and assumed it was due to swimming in the high school pool.</span></p> <p><span> I believe my case of TV was pretty severe, it covered about 75% of my upper body inluding my chest, neck, parts of my scalp, upper parts of my arms, and all of my back. </span></p>
  </section>
  <section class="section">
    <h2>Need help?</h2>
      <p>If you have any questions or need help in any part of your journey to clear skin don't be afraid to reach me by email at TineaVersicolorCure@gmail.com. I would be more than happy to help you.  </p>
  </section>
</body>
</html>
