<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>The cause for Tinea Versicolor</title>
  <meta charset="utf-8">
  <meta name="description" content="These are the causes for Tinea Versicolor, Why is Tinea Versicolor appearing">
  <link rel="stylesheet" type="text/css" href="tv.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>The Cause (My Belief)</h1>
  </header>

  <section class="top-border">
    <h2>What Makes Tinea Versicolor Appear?</h2>
      <p> I am not a doctor and I do not know the scientific reasons for why our bodies choose to produce an excess amount of yeast and any assumptions I make are from the research I've done and how I interpreted it. Early in my research I saw a youtube video where a guy believed Tinea Versicolor was caused from our diets and what we choose to put in our bodies. I 100% agree with this statement. TV seems to mainly appear in areas where we sweat, taking that into consideration. What we eat ends up in our blood stream as well as our sweat. The yeast is already on our skin but once we sweat the content of what we've eaten gives TV the necessary means to flourish. Probably the most unscientific explanation but that's how I've made sense of it.</p>
  </section>
  <section>
    <h2>What Parts of our Diet cause Tinea Versicolor?</h2>
      <p>Through research I've found out acidic body pH and high amounts of sugar were the reasons for why my TV was thriving.The acidic PH level gave the yeast a perfect environment to grow, while the sugar was used as food. I'm not if it has to do with anything but I was also not giving my body the right amount of necessary vitamins. All in all the reason why my body was able to support yeast growth was due to my body not being as healthy as it should be. </p>
  </section>
</body>
</html>
