<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title> Curing the symptoms of Tinea Versicolor</title>
  <meta charset="utf-8">
  <meta name="description" content="Cure for the skin disease, Tinea Veriscolor">
  <link rel="stylesheet" type="text/css" href="tv.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>Curing Process</h1>
  </header>
  <section class="top-border">
    <h2>The Cure</h2>
      <p><span>If you were expecting a quick fix to this bothersome and consistent problem I will not be able to help you. What I can offer is advice for lifestyle changes which is what will need to happen if you would like to fix this problem. Most sites will advise you to limit the amount that you sweat throughout the day and I don't believe that is practical for people that live in warmer climates.</span></p> <p><span> What we eat and drink comes out through our sweat and I think thats where the myth of sweat causing the overgrowth came from. Here are some facts and assumptions I can make. Too much sugar in the blood system will feed the yeast and if the bodies pH level is acidic it creates the perfect enviornment for this disease to grow. The cure is balancing your body PH and watching your sugar intake.</span></p>
  </section>
  <section class= "leftfloat">
    <h3>Diet</h3>
      <p><span>If you have TV and it's at it's peak, to start killing it off you have to start eating clean. Clean meaning a mainly veggie and low sugar diet. During my research I found another skin infection that had some of the same symptoms as TV, called Candida. For some reason there's more research done for this similar skin infection and a very effective diet has been created to fight the yeast. <a href="http://www.thecandidadiet.com/candida-diet.htm" target="_blank" title="Candida Diet">Candida diet</a></span></p> <p><span> To be honest I did not follow this strictly and ate how I believed I should be eating, this is just a guide line for those who need it.</span></p>
  </section>
  <section class= "rightfloat">
    <h3>Topical Treatment</h3>
      <p><span>While following the diet I recommend also using Selsun Blue to help speed up the process to clear skin. There were two things that I did.</span></p> <p><span>First thing you can do is put it on while in the shower, after cleaning your body. Dry off the infected areas and then apply the Selsun blue. The trick is not to make it bubble up, for some reason it works better when the solution is caked up blocking air from touching your skin. I would trying and keep this on for 10-15 minutes then wash it off.</span></p> <p><span> Second thing you can do is apply the Selsun blue to your dry skin before bed and sleep with it on, then in the morning wash it all of. This seemed to work the best for me. Make sure to sleep on a towel. I would also advise a shirt and a towel that you don't mind permantely smelling like Selsun. </span></p> <p><span> After a week of doing this your Tinea should be peeling or wanting to peel and to help it a long I would use a granite stone. Scrub it off in the shower after you've cleaned your body and then apply selun. This is the patteren you're going to be following until its all gone. </span></p> <p><span> P.S Do not scrub too hard with the granite stone, your skin will come off and it will hurt.</span></p>
  </section>
  <section class= "leftfloat">
    <h3>Oral Treatment</h3>
      <div id="leftimg">
        <img src="pictures/oregano_Fotor.jpg" alt="oregano pill bottle" style="width:100px;height:150px;">
      </div>
      <p><span>While doing the diet and the topical treatment, there's also an oral treatment that I did. It consisted of oregano oil, garlic oil, and pomegranate extract. These oils were in pill form and I would take these pills before bed. Of all the pills that helped the most I would say it was the oregano oil. At the peak of my TV I would take 4 oregano, 2 pomegranate, and 2 garlic pills. As my skin started to get better I would do 2 oregano, 1 pomegranate, and 1 garlic pills. </span></p>
      <div id="leftimg">
        <img src="pictures/pomegranate_Fotor.jpg" alt="Pomegranate pill bottle" style="width:100px;height:150px;">
      </div>
      <p><span> I saw a video saying that oregano oil gets rid of bad and good bacteria and to only take it a month at a time but I learned that after curing my TV. I got these pills at my local GNC, be sure to talk them down on the price because you can be paying less than the asking price. </span></p>
  </section>
  <section id= "keypara" class= "rightfloat">
    <h3>The Key</h3>
       <p>The key to clear skin is being consistent in all fields of the cure. The diet, the topical treatment, as well as the oral treatment. This is what worked for me and I hope it does for you. </p>
  </section> 
</body>
</html>
