<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title> My Tinea Versicolor Story</title>
  <meta charset="utf-8">
  <meta name="description" content="My story of dealing with Tinea Versicolor, what I did to cure it">
  <link rel="stylesheet" type="text/css" href="tv.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>How to Cure Tinea Versicolor</h1>
  </header>
  <section class="section">
    <h2>What is Tinea Versicolor?</h2>
      <p>I have no formal education on Tinea Veriscolor (TV) so I will not waste your guys' time with my description of TV. Here's a link from WebMD that would do a much better job of explaining it than me.  <a href="http://www.webmd.com/skin-problems-and-treatments/tinea-versicolor-cause-symptoms-treatments" target="_blank" title="WebMD link">Tinea Versicolor definition</a></p>
  </section>
  <section class= "leftfloat" class="section">
    <h3 class="h3">My Experience With Tinea Versicolor</h3>
      <p><span>I started getting Tinea Versicolor when I was about a sophmore in high school. I first noticed a couple spots after a couple days of swimming in the school pool and thought nothing of it. Thinking it would go away after swimming I did tell my parents or think to go to a doctor. Then a few spots became a acouple patches. Not sure when but I decided to go see a doctor. </span></p> <p><span>Fast forward through everything, the topical creams, oral pills, etc, all of it worked for a certian amount of time and then the TV would come back. The medecine I was getting, fought the symptoms of TV but not the actual cause. At the end of high school I decided to find my own way to fix this problem.</span></p>
  </section>
  <section class= "rightfloat section">
    <h3 class="h3">Why I Decided To Find My Own solution</h3>
      <p>Having to repeatedly fill my presciptions of the oral pills and topical cream became to costly after a while, so it was up to me to find a way to cure myself. I obsessed over trying to find a way to rid myself of TV and spent most of my time on google researching what people already knew and what they believed the cause was. Took about 2.5 years of experimenting with different solutions to find out what worked best for me. Here's what I found out. <a href="cause.html" title="The cause for my Tinea Versicolor">The cause for my Tinea Versicolor</a> </p>
  </section>
</body>
</html>
