<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>How to keep Tinea Versicolor Away</title>
  <meta charset="utf-8">
  <meta name="description" content="Description of the necessary steps needed to get rid Tinea Versicolor for good.">
  <link rel="stylesheet" type="text/css" href="tv.css">
</head>
<body>
  <div id="wrapper">
  <header>
    <h1>How To Keep Tinea Versicolor away</h1>
  </header>
  <section class="top-border section">
    <h2>Upkeep</h2>
      <p>Here are a couple things you must keep an eye out to make sure the TV goes away and stay away.</p>
        <ul>
          <li>Watch diet your diet</li>
          <li>Change sheets/towels every week</li>
          <li>Take pills everyday</li>
        </ul>
  </section>
  <section class="section">
    <h2>What Parts of our Diet cause TV?</h2>
      <p>Acidic body PH levels and too much sugar in the body. Drink PLENTY of water, at the time I was definetly not doing that.</p>
  </section>
</body>
</html>
