@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal CSS */

#wrapper{
  border-radius: 10px;
  width: 960px;
  margin: 0 auto;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;

}

header{
  color:#fff;
  display: block;
  margin: 0 auto;
  border-bottom: solid;
  border-bottom-color: #fff;
}

body{
  position: relative;
  margin: 0;
  padding: 60px;

}

h1{
  background-color: #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
}

h2{
  color: #333333;
  text-align: center;
  padding: 5px 0px;
}

h3{
  color: #333333;
  padding-left: 15px;
}

#section{
  padding-bottom: 10px;
}

/* Styling for footer */
.leftfloat{
  float: left;
  width: 450px;
}

.rightfloat{
  float: right;
  width: 500px;
  vertical-align:top;
}

/* Putting paragraphs side by side */
.left{
  display: inline-block;
  padding-left: 10px;
}

.right{
  float: right;
  width: 250px;
  height: 50%;

}

/* Moving The Key paragraph into posistion */
#keypara{
  padding-right: 250px;
  text-align: center;
}

p{
  padding:0px 40px;
  line-height: 1.75em;

}

/* Putting spacing between paragraphs */
p span
{
  display: block;
}

/* Putting spacing between paragraphs */
#leftimg{
  float: left;
  padding: 0px 10px;
}

img{

  padding:1px;
  border:1px solid #fff;
  background-color:#000;
}

ul{
  list-style: none;
  color: #fff;
}

footer{
  position: absolute;
  line-height: normal;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.whitefont{
  color: #fff;
}
